<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" filename="..\..\Logs\${shortdate}.log" layout="${longdate}&#x20;${level:uppercase=true}&#x20;${message:withexception=true}"/>
    <target name="logconsole" xsi:type="Console" layout="${longdate}&#x20;${level:uppercase=true}&#x20;${message:withexceptio"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>